/* color palette */ 
:root {
  --one: #f0e7e7;
  --two: #452804;
  --three: #c1440e;
  --four: #e77d11;
  --five: #0e0e49;
  --six: #9ce0fc;
}

/* root id */
#root {
  background-color: var(--six)
}

/* nav bar */
.t-nav-bar {
  background-color: var(--four);
  padding: 30px
}

#t-nav-link {
  color: black
}

#t-nav-link:hover {
  text-decoration: underline;
}

#t-login-modal-btn, #t-signup-modal-btn {
  background-color: var(--four);
  border: none;
}






/* footer */
.t-colony-footer {
  background-color: var(--four);
  margin-top: 100px;
}

.t-footer-item {
  margin: 1%;
}

.t-footer-copyright {
  margin: 2%;
}

#t-footer-icon {
  border-radius: 50px;
}

#t-footer-icon:hover {
  box-shadow: 5px 5px 30px 5px var(--one)
}

