/* color palette */ 
:root {
  --one: #f0e7e7;
  --two: #452804;
  --three: #c1440e;
  --four: #e77d11;
  --five: #0e0e49;
  --six: #9ce0fc;
  --seven: rgb(37, 32, 28);
}

/* root id */
#root {
  background-color: var(--seven);
  font-family: 'Orbitron', sans-serif;
}

/* nav bar */
.t-nav-bar {
  background-color: var(--four);
  padding: 30px;
  border-bottom: 20px solid var(--six);
  font-size: 18px;
}

#t-nav-title {
  color: black;
  font-size: 28px;
}

#t-nav-title:hover {
  text-decoration: underline;
}

#t-nav-link {
  color: black;
  font-size: 18px;
}

#t-nav-link-feed {
  color: black;
  margin-right: 200px
}

#t-nav-link-profile {
  color: black;
  margin-right: 150px
}

#t-nav-link-profile:hover {
  text-decoration: underline;
}


#t-nav-link:hover, #t-nav-link-feed:hover {
  text-decoration: underline;
}

#t-login-modal-btn, #t-signup-modal-btn {
  background-color: var(--two);
  border: none;
}

#t-login-modal-btn:hover, #t-signup-modal-btn:hover {
  background-color: var(--three);
  border: none
}

/* feed */
.the-feed {
  margin-left: 30%;
  margin-top: 5%;
  color: white
}

.post-form {
  margin-right: 20%;
  margin-top: 350px;
}

.post-title {
  width: 100%;
  text-indent: 20px;
  height: 35px;
}

.post-text {
  width: 100%;
  text-indent: 20px;
  height: 100px;
}

body {
  margin: none;
}

.round {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.profileinfo {
  float: right;
  margin: 0 1.5%;
  padding-right: 20%
}

.images {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right:5%;
  margin-top: 5%;
}

.images img {
  margin: 2%;
}

.item {
  width: 45%;
  height: 100%;
  margin-left: 15%;
} 

.page-header {
  text-align: center;
}

.margin {
  margin-bottom: 25px;
}

.card {
  background-color: var(--three);
}

.stats {
  margin-right: 5%;
  margin-left: 5%;
  padding-bottom: 150px;
}

#submit-post {
  width: 100%;
  background-color: var(--two);
  border: none;
  margin-top: -10px
}

#submit-post:hover {
  background-color: var(--three);
}

.list-container .card {
  width: 300px;
  height: calc(110vh);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--one);
}

.city-feed-btn {
  width: 70%;
  padding: 10px;
  margin-left: 40px;
  margin-top: 20px;
  background-color: var(--two);
  border: none
}

.city-feed-btn:hover {
  background-color: var(--three);
}

.feeds-sidebar {
  background-color: var(--one);
  font-size: 30px;
}

/* user profile */
#profile-alert {
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center
}

.edit-profile-btn-ctn {
  text-align: center;
}

#dropdown-menu-align-left {
  margin-top: 15px;
  background-color: var(--five);
  color: white;
  border: none;
  font-size: 18px;
  margin-left: 15px
}

#dropdown-menu-align-center {
  background-color: var(--two);
  color: white;
  border: none;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 15px;
}

#planet-btn:hover {
  background-color: white;
  color: black
}

#edit-profile-btn {
  background-color: var(--three);
  color: white;
  border: solid 3px white;
  margin: 30px;
  padding: 15px;
}

#edit-profile-btn:hover {
  background-color: white;
  color: black
}

.profile-cardgroup {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  margin-top: -2%;
}

#planet-header, #zodiac-header {
  background-color: black;
  color: white;
  border-bottom: solid white 5px
}

#planet-header {
  background-color: var(--five)
}

#username-header {
  border-bottom: solid black 5px;
}

#username-header {
  background-color: var(--one);
  color: black
}

.planet-card, .username-card, .zodiac-card {
  margin: 5%;
  background-color: var(--one);
}

.planet-card, .zodiac-card {
  background-color: var(--seven);
  margin-bottom: -50px;
  color: white;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
}

.planet-img {
  width: 100%;
  object-fit: cover;
  filter: saturate(138%);
  border-radius: 30px;
  margin: 10px
}

.zodiac-img {
  width: 100%;
  margin: 10px;
  object-fit: cover;
  filter: hue-rotate(200deg);
  border-radius: 30px;
}

#profile-btn-submit {
  background-color: var(--two);
  border: none
}

#profile-btn-submit:hover {
  background-color: var(--three);
  color: white
}

.date-text {
  margin-top: 50px;
}


/* footer */
.t-colony-footer {
  background-color: var(--four);
  border-top: 20px solid var(--six);
}

.t-footer-item {
  margin: 1%;
}

.t-footer-copyright {
  margin: 2%;
}

#t-footer-icon {
  border-radius: 50px;
}

#t-footer-icon:hover {
  box-shadow: 5px 5px 30px 5px var(--one)
}


/* misc */
.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 12%;
  margin-bottom: 5%;
}

.body-title {
  margin-bottom: 20px;
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
} */

/* screens */
@media screen and (max-width: 600px) {
  .list-container .card
   {
     width: 150px;
  }

  .planet-img {
    width: 100%;
    margin: 0;
  }
  
} 







